<!doctype html>
<html ng-app="ugraph-example" ng-controller="UgraphExampleCtrl as c">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ugraph - Example Application">

  <title>Ugraph Test</title>

  <script src="../bower_components/d3/d3.js"  type="text/javascript"></script>
  <script src="../bower_components/angular/angular.js"  type="text/javascript"></script>
  <script src="../ugraph.js"  type="text/javascript"></script>
  <script src="../ugraph.angular.js"  type="text/javascript"></script>
  <script type="text/javascript">
(function() {
  var m = angular.module('ugraph-example', ['ugraph']);

  m.controller('UgraphExampleCtrl', function($scope){
    $scope.cadence = 500;
    $scope.points = 100;
    $scope.timeSeriesCount = 1;
    $scope.dataCount = 100;

    $scope.sources = [];

    $scope.options = {
      renderer: 'stacked-line',
      highlight: true,
      zeroBased: true
    };

    // state shared between each graph.
    $scope.state = {
      highlight: ugraph.NoHighlight,
      dragRange: ugraph.NoRange,
      focus: ugraph.NoFocus,
      extent: ugraph.NoExtent
    };

    $scope.refresh = function() {
      var sources = [];

      for (var i = 0; i < $scope.timeSeriesCount; i++) {
        sources.push(generate($scope.cadence, $scope.dataCount, $scope.points));
      }

      $scope.sources = sources;
    };

    $scope.$watch('timeSeriesCount', $scope.refresh.bind($scope));
    $scope.$watch('dataCount', $scope.refresh.bind($scope));
    $scope.$watch('points', $scope.refresh.bind($scope));

    $scope.refresh();
  });

  function generate(cadence, dataCount, points) {
    var d = [],
        count = dataCount;

    for (var i = 0; i < count; i++) {
      var s = {data: []};

      var start = 0 + Math.floor(Math.random() * 20);
      var end = 10 + Math.floor(Math.random() * points);

      var min = (i + 100) * 10;

      for (var j = start; j < end; j++) {
        if (Math.random() > 0.99)
          continue;

        s.data.push([j * 500, Math.floor(min + (Math.random() * 50))]);
      }

      d.push(s);
    }

    return d;
  }
})();
  </script>
</head>
<body>
  <div ng-show="state.highlight.data.length" style="position: absolute; top: 10px; right: 10px; color: red; background-color: white; border: 1px solid black; padding: 5px;">
    <div ng-repeat="s in state.highlight.data track by $index">{{s.stackValue + s.value}} ({{s.value}})</div>
  </div>

  <div>
    <label>
      <span>Renderer:</span>
      <select ng-model="options.renderer">
        <option value="line">Line</option>
        <option value="stacked-line">Stacked Line</option>
      </select>
    </label>

    <label>
      <span>Refresh:</span>
      <button ng-click="refresh()">refresh</button>
    </label>

    <label>
      <span>Highlight:</span>
      <input type="checkbox" ng-model="options.highlight" />
    </label>

    <label>
      <span>Zero Based:</span>
      <input type="checkbox" ng-model="options.zeroBased" />
    </label>

    <label>
      <span>Cadence:</span>
      <input type="number" ng-model="cadence" />
    </label>
  </div>

  <div>
    <label>
      <span>Time Series:</span>
      <input type="number" ng-model="timeSeriesCount" />
    </label>

    <label>
      <span>Data Count:</span>
      <input type="number" ng-model="dataCount" />
    </label>

    <label>
      <span>Points:</span>
      <input type="number" ng-model="points" />
    </label>
  </div>

  <div>highlight: {x: {{state.highlight.x | json}}, data: {{state.highlight.data.length}}}</div>
  <div>drag range: {{state.dragRange}}</div>
  <div>focus: {{state.focus}}</div>
  <div>extent: {{state.extent}}</div>

  <div class="row" ng-repeat="source in sources" style="height: 400px;">
    <canvas
       ugraph="source"
       ugraph-auto-xval="state.highlight.x"
       ugraph-auto-range="state.dragRange"
       ugraph-auto-focus="state.focus"
       ugraph-renderer="options.renderer"
       ugraph-highlight="options.highlight"
       ugraph-zero-based="options.zeroBased"
       ugraph-cadence="cadence"
       ugraph-on-hover-highlight="state.highlight = $highlight"
       ugraph-on-drag-range="state.dragRange = $range"
       ugraph-on-extent="state.extent = $extent"
       ugraph-on-focus="state.focus = $focus"></canvas>
  </div>
</body>
</html>
